<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>random</key>
	<array>
		<integer>9</integer>
		<integer>18</integer>
		<integer>22</integer>
		<integer>26</integer>
		<integer>30</integer>
		<integer>41</integer>
		<integer>45</integer>
		<integer>54</integer>
		<integer>60</integer>
		<integer>62</integer>
		<integer>73</integer>
		<integer>75</integer>
		<integer>82</integer>
		<integer>86</integer>
		<integer>89</integer>
		<integer>90</integer>
		<integer>97</integer>
		<integer>99</integer>
		<integer>101</integer>
		<integer>105</integer>
		<integer>106</integer>
		<integer>107</integer>
		<integer>109</integer>
		<integer>110</integer>
		<integer>118</integer>
		<integer>120</integer>
		<integer>121</integer>
		<integer>122</integer>
		<integer>124</integer>
		<integer>126</integer>
		<integer>129</integer>
		<integer>131</integer>
		<integer>135</integer>
		<integer>137</integer>
		<integer>145</integer>
		<integer>146</integer>
		<integer>147</integer>
		<integer>149</integer>
		<integer>150</integer>
		<integer>151</integer>
		<integer>153</integer>
		<integer>154</integer>
		<integer>161</integer>
		<integer>165</integer>
		<integer>166</integer>
		<integer>167</integer>
		<integer>169</integer>
		<integer>180</integer>
		<integer>181</integer>
		<integer>182</integer>
		<integer>183</integer>
		<integer>193</integer>
		<integer>195</integer>
		<integer>210</integer>
		<integer>225</integer>
	</array>
	<key>single</key>
	<array>
		<integer>18</integer>
		<integer>22</integer>
		<integer>26</integer>
		<integer>30</integer>
		<integer>45</integer>
		<integer>60</integer>
		<integer>73</integer>
		<integer>75</integer>
		<integer>82</integer>
		<integer>86</integer>
		<integer>89</integer>
		<integer>90</integer>
		<integer>101</integer>
		<integer>102</integer>
		<integer>105</integer>
		<integer>110</integer>
		<integer>124</integer>
		<integer>126</integer>
		<integer>129</integer>
		<integer>135</integer>
		<integer>137</integer>
		<integer>146</integer>
		<integer>149</integer>
		<integer>150</integer>
		<integer>153</integer>
		<integer>154</integer>
		<integer>161</integer>
		<integer>165</integer>
		<integer>167</integer>
		<integer>169</integer>
		<integer>181</integer>
		<integer>182</integer>
		<integer>193</integer>
		<integer>195</integer>
		<integer>210</integer>
		<integer>218</integer>
		<integer>225</integer>
	</array>
</dict>
</plist>
